@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  size: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background-color: rgba(17, 34, 17, 0);
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Fredoka One", cursive;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px 15px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button-btn {
  display: none;
  border-radius: 10px;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #f57631;
  z-index: 2;
}
.header__button-btn span {
  position: absolute;
  border-radius: 10px;
  width: 30px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  left: 5px;
  -webkit-transition: opasity 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  transition: opasity 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opasity 0.2s, background-color 0.2s;
  transition: transform 0.2s, opasity 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}
.header__button-btn span:nth-child(1) {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}
.header__button-btn span:nth-child(3) {
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
}

.header.open span:nth-child(2) {
  opacity: 0;
}
.header.open span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}
.header.open span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.menu {
  max-width: 700px;
  margin: 0px auto;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}
.menu__item {
  margin-right: 54px;
}
.menu__item a {
  font-size: 18px;
  color: black;
  font-family: "Source Code Pro", monospace;
}
.menu__item a:hover {
  color: #f78548;
}
.menu__item:last-child {
  margin-right: 0px;
}

@media (max-width: 650px) {
  .header__button-btn span {
    background-color: white;
  }
  .menu__item {
    margin-right: 15px;
  }
  .menu__item a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: "Source Code Pro", monospace;
  }
  .menu__item a:hover {
    color: #f78548;
  }
  .menu__item:last-child {
    margin-right: 0px;
  }
}
@media (max-width: 496px) {
  .header__button-btn {
    display: block;
    background-color: blueviolet;
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    background-color: rgba(255, 187, 0, 0.9);
    padding: 30px 0px 20px 0px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .menu__list {
    display: block;
    text-align: center;
  }
  .menu__item {
    margin-right: 20px;
    padding: 0px 0px 10px 0px;
  }
  .menu__item a {
    color: rgb(48, 37, 37);
  }
  .header.open .menu {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.about {
  background: url(../img/back.png) 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}
.about p {
  display: inline;
}
.about__container {
  text-align: center;
  max-width: 700px;
  margin: 0px auto;
}
.about__header {
  padding: 40px 0px 20px 0px;
  font-size: 35px;
  font-family: "Fredoka One", cursive;
  color: white;
}
.about__header p {
  color: #f57631;
}
.about hr {
  margin: 0px auto 35px auto;
  max-width: 50px;
  border: 2px solid #f78548;
  border-radius: 4px;
}
.about__text {
  font-size: 18px;
  padding: 0px 0px 40px 0px;
  color: white;
  text-shadow: 1.3px 1.3px rgba(255, 154, 171, 0.5);
  font-family: "Source Code Pro", monospace;
}
@media (max-width: 370px) {
  .about__text {
    font-size: 13px;
  }
}
.about__button {
  padding: 100px 0px 50px 0px;
}
.about__button button {
  background-color: #f57631;
  border-radius: 10px;
  padding: 15px 55px 15px 55px;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
          box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin: 0px 0px 15.4px 0px;
}
.about__button button:active {
  background-color: #f57631;
  border-radius: 10px;
  margin: 7px 0px 8.655px 0px;
  padding: 15px 55px 15px 55px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
          box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.table {
  padding: 0px 0px 70px 0px;
}
.table__container {
  margin: 0px auto;
  max-width: 1200px;
  text-align: center;
}
.table__emoji {
  padding: 30px 0px;
  font-size: 22px;
}
.table__header {
  font-family: "Fredoka One", cursive;
  font-size: 30px;
}
.table__yrok {
  padding: 40px;
  position: relative;
}
.table__yrok img {
  width: 100%;
  height: 100%;
}
@media (max-width: 400px) {
  .table__yrok {
    padding: 20px;
  }
}

@media (max-width: 290px) {
  .about__button button {
    background-color: #f57631;
    border-radius: 10px;
    padding: 15px 29px 15px 29px;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
            box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    margin: 0px 0px 15.4px 0px;
  }
  .about__button button:active {
    background-color: #f57631;
    border-radius: 10px;
    margin: 7px 0px 8.655px 0px;
    padding: 15px 29px 15px 29px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
            box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
    color: white;
    text-transform: uppercase;
    font-size: 16px;
  }
}
.achivment {
  background-color: #f78548;
}
.achivment__container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 10px;
}
.achivment__header {
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.achivment__header h3 {
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  color: white;
}
.achivment__menu {
  padding: 0px 0px 80px 0px;
}

.menuach__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menuach__item {
  text-align: center;
  width: 370px;
}
.menuach__logo {
  padding: 0px 0px 40px 0px;
}
.menuach__logo img {
  width: 200px;
  height: 200px;
}
.menuach__name {
  font-size: 20px;
  color: white;
  padding: 0px 10px 20px 10px;
}
.menuach__info {
  color: white;
}

@media (max-width: 760px) {
  .menuach__logo img {
    width: 150px;
    height: 150px;
  }
  .menuach__name {
    font-size: 17px;
    color: white;
    padding: 0px 0px 20px 0px;
  }
  .menuach__info {
    color: white;
    font-size: 12px;
  }
}
@media (max-width: 560px) {
  .menuach__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menuach__item {
    padding: 0px 0px 100px 0px;
  }
  .menuach__logo {
    padding: 0px 0px 30px 0px;
  }
  .menuach__name {
    font-size: 20px;
    color: white;
    padding: 0px 10px 20px 10px;
  }
  .menuach__info {
    color: white;
  }
}
.news {
  text-align: center;
  padding: 0px 0px 50px 0px;
}
.news hr {
  margin: 0px auto 0px auto;
  max-width: 50px;
  border: 2px solid #f78548;
  border-radius: 4px;
}
.news__container {
  max-width: 1100px;
  margin: 0px auto;
}
.news__emoji {
  padding: 30px 0px 0px 0px;
  text-align: center;
  font-size: 22px;
}
.news__header {
  padding: 20px 0px 50px 0px;
  text-align: center;
}
.news__header h3 {
  font-size: 36px;
}
.news__stats {
  padding: 20px 0px 40px 0px;
}
.news__galary {
  margin: 20px 0px 100px 0px;
  padding: 10px;
  background-color: rgba(134, 134, 134, 0.3);
}
.news__button button {
  background-color: #f57631;
  border-radius: 10px;
  padding: 15px 55px 15px 55px;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
          box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin: 0px 0px 15.4px 0px;
}
.news__button button:active {
  background-color: #f57631;
  border-radius: 10px;
  margin: 7px 0px 8.655px 0px;
  padding: 15px 55px 15px 55px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
          box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}
@media (max-width: 290px) {
  .news__button button {
    background-color: #f57631;
    border-radius: 10px;
    padding: 15px 9px 15px 9px;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
            box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    margin: 0px 0px 15.4px 0px;
  }
  .news__button button:active {
    background-color: #f57631;
    border-radius: 10px;
    margin: 7px 0px 8.655px 0px;
    padding: 15px 9px 15px 9px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
            box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
    color: white;
    text-transform: uppercase;
    font-size: 16px;
  }
}
.galary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galary__item {
  max-width: 500px;
  margin: 0px auto;
}
@media (max-width: 510px) {
  .galary .galary__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.item {
  padding: 0px 10px;
}
.item__img {
  padding: 0px 0px 20px 0px;
  margin: 0px auto;
}
.item__img img {
  width: 200px;
  height: 270px;
}
.item__name {
  padding: 0px 0px 20px 0px;
}
.item__text {
  max-width: 200px;
  margin: 0px auto;
}

@media (max-width: 677px) {
  .item__img img {
    width: 120px;
    height: 170px;
  }
}
@media (max-width: 530px) {
  .item {
    padding: 0px 0px 50px 0px;
  }
}
.teacher {
  text-align: center;
  padding: 70px 0px 0px 0px;
  background-color: rgb(197, 197, 197);
}
.teacher__emoji {
  padding: 30px 0px 0px 0px;
  text-align: center;
  font-size: 22px;
}
.teacher__container {
  max-width: 800px;
  margin: 0px auto;
}
.teacher__name {
  padding: 10px 0px 50px 0px;
}
.teacher__name h2 {
  font-size: 25px;
}
.teacher__foto img {
  width: 390px;
  height: 600px;
}
.teacher__info {
  padding: 30px 0px 50px 0px;
}
.teacher__info p {
  font-size: 19px;
}

@media (max-width: 429px) {
  .teacher__foto img {
    width: 300px;
    height: 440px;
  }
}