@import 'null.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    font-family: 'Fredoka One', cursive;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px 15px;
}
.header {
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button-btn{
        display: none;
        border-radius: 10px;
        position: relative;
        width: 40px;
        height: 40px;
        background-color: #f57631;
        z-index: 2;
        span{
            position: absolute;
            border-radius: 10px;
            width: 30px;
            height: 4px;
            background-color: rgb(0, 0, 0);
            left: 5px;
            transition: transform .2s, opasity .2s, background-color .2s;
        }
        span:nth-child(1){
            transform: translateY(-12px);
        }
        span:nth-child(3){
            transform: translateY(11px);
        }

    }
}
.header.open{
    span:nth-child(2){
        opacity: 0;
    }
    span:nth-child(1){
        transform: translateY(0) rotate(45deg);
    }
    span:nth-child(3){
        transform: translateY(0) rotate(-45deg);
    }
}

.menu {
    max-width: 700px;
    margin: 0px auto;
    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    &__item {
        margin-right: 54px;
        a{
            font-size: 18px;
            color: black;
            font-family: 'Source Code Pro', monospace;
        }
        a:hover{
            color: #f78548;
        }
    }
    &__item:last-child{
        margin-right: 0px;
    }
}

@media (max-width:650px){
    .header{
        &__button-btn{
            span{
                background-color: white;
            }
        }
    }

    .menu {
        &__list {

        }
        
        &__item {
            margin-right: 15px;
            a{
                font-size: 18px;
                color: rgb(0, 0, 0);
                font-family: 'Source Code Pro', monospace;
            }
            a:hover{
                color: #f78548;
            }
        }
        &__item:last-child{
            margin-right: 0px;
        }
    }
}


@media (max-width: 496px){
    .header__button-btn{
        display: block;
        background-color: blueviolet;
    }
    .menu{
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        background-color: rgb(255, 187, 0, 0.9);
        padding: 30px 0px 20px 0px;
        transition: transform .5s;
        &__list {
            display: block;
            text-align: center;
        }
        
        &__item {
            margin-right: 20px;
            padding: 0px 0px 10px 0px;
            a{
                color: rgb(48, 37, 37);
            }
        }
    }
    .header.open .menu{
        transform: translateX(100%);
    }
}




.main {
}
.about {
    p{
        display: inline;
    }
        background: url(../img/back.png) 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
		&__container {
            text-align: center;
            max-width: 700px;
            margin: 0px auto;
		}
        
        &__header {
            padding: 40px 0px 20px 0px;
            font-size: 35px;
            font-family: 'Fredoka One', cursive;
            color: white;

            p{
                color: #f57631;
            }
        }
        hr{ 
            margin: 0px auto 35px auto;
            max-width: 50px;
            border: 2px solid #f78548;
            border-radius: 4px;
            
        }
		&__text {
            font-size: 18px;
            padding: 0px 0px 40px 0px;
            color: white;
            text-shadow: 1.3px 1.3px rgba(255, 154, 171, 0.5);
            font-family: 'Source Code Pro', monospace;
        }
        @media (max-width: 370px){
            &__text {
                font-size: 13px;
            }
        }
        
		&__button {
            padding: 100px 0px 50px 0px;
            button{
                background-color: #f57631;
                border-radius: 10px;
                padding: 15px 55px 15px 55px;
                box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
                color: white;
                text-transform: uppercase;
                font-size: 16px;
                transition: 0.1s;
                margin: 0px 0px 15.4px 0px;
            }
            
            button:active{
                background-color: #f57631;
                border-radius: 10px;
                margin: 7px 0px 8.655px 0px;
                padding: 15px 55px 15px 55px;
                box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
                color: white;
                text-transform: uppercase;
                font-size: 16px;
            }

        }
    }

    .table {
        padding: 0px 0px 70px 0px;
		&__container {
            margin: 0px auto;
            max-width: 1200px;
            text-align: center;
		}

		&__emoji {
            padding: 30px 0px;
            font-size: 22px;
		}

		&__header {
            font-family: 'Fredoka One', cursive;
            font-size: 30px;
		}

		&__yrok {
            padding: 40px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
		}
        @media (max-width:400px){
            &__yrok {
                padding: 20px;
            }
        }
        
}

@media (max-width: 290px){
    .about{
        &__button {
            button{
                background-color: #f57631;
                border-radius: 10px;
                padding: 15px 29px 15px 29px;
                box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
                color: white;
                text-transform: uppercase;
                font-size: 16px;
                transition: 0.1s;
                margin: 0px 0px 15.4px 0px;
            }
            
            button:active{
                background-color: #f57631;
                border-radius: 10px;
                margin: 7px 0px 8.655px 0px;
                padding: 15px 29px 15px 29px;
                box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
                color: white;
                text-transform: uppercase;
                font-size: 16px;
            }
        }
    }
}

.achivment {
    background-color: #f78548;
    &__container {
        max-width: 1100px;
        margin: 0px auto;
        padding: 0px 10px;
    }

    &__header {
        text-align: center;
        padding: 50px 0px 50px 0px;
        h3{
            font-size: 30px;
            font-family: 'Fredoka One', cursive;
            color: white;
        }
    }

    &__menu {
        padding: 0px 0px 80px 0px;
    }
}
.menuach {
    
    &__container {
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        text-align: center;
        width: 370px;

    }

    &__logo {
        padding: 0px 0px 40px 0px;
        img{
            width: 200px;
            height: 200px;
        }
    }


    &__name {
        font-size: 20px;
        color: white;
        padding: 0px 10px 20px 10px;
    }

    &__info {
        color: white;

    }
}

@media (max-width: 760px){
    .menuach {
        &__logo {
            img{
                width: 150px;
                height: 150px;
            }
        }
        &__name {
            font-size: 17px;
            color: white;
            padding: 0px  0px 20px 0px;
        }
    
        &__info {
            color: white;
            font-size: 12px;
        }
    }
}
@media (max-width: 560px){
    .menuach {
    
        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            padding: 0px 0px 100px 0px;
        }
        &__logo {
            padding: 0px 0px 30px 0px;

        }
    
    
        &__name {
            font-size: 20px;
            color: white;
            padding: 0px 10px 20px 10px;
        }
    
        &__info {
            color: white;
    
        }
    }
}

.news {
    text-align: center;
    padding: 0px 0px 50px 0px;
    hr{ 
        margin: 0px auto 0px auto;
        max-width: 50px;
        border: 2px solid #f78548;
        border-radius: 4px;
    }
    &__container {
        max-width: 1100px;
        margin: 0px auto;
    }

    &__emoji{
        padding: 30px 0px 0px 0px;
        text-align: center;
        font-size: 22px;
    }

    &__header {
        padding: 20px 0px 50px 0px;
        text-align: center;
        h3{
            font-size: 36px;
        }
    }

    &__stats {
        padding: 20px 0px 40px 0px;
    }

    &__galary {
        margin: 20px 0px 100px 0px;
        padding: 10px;
        background-color: rgb(134, 134, 134, 0.3);
    }

    &__button {
        button{
            background-color: #f57631;
            border-radius: 10px;
            padding: 15px 55px 15px 55px;
            box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            transition: 0.1s;
            margin: 0px 0px 15.4px 0px;
        }
        
        button:active{
            background-color: #f57631;
            border-radius: 10px;
            margin: 7px 0px 8.655px 0px;
            padding: 15px 55px 15px 55px;
            box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
            color: white;
            text-transform: uppercase;
            font-size: 16px;
        }
    }
    
    
    &__more {
        
    }
}
@media (max-width: 290px){
    .news{
        &__button {
            button{
                background-color: #f57631;
                border-radius: 10px;
                padding: 15px 9px 15px 9px;
                box-shadow: 0px 7px 0px 0px rgba(100, 86, 86, 0.7);
                color: white;
                text-transform: uppercase;
                font-size: 16px;
                transition: 0.1s;
                margin: 0px 0px 15.4px 0px;
            }
            
            button:active{
                background-color: #f57631;
                border-radius: 10px;
                margin: 7px 0px 8.655px 0px;
                padding: 15px 9px 15px 9px;
                box-shadow: 0px 0px 0px 0px rgba(100, 86, 86, 0.7);
                color: white;
                text-transform: uppercase;
                font-size: 16px;
            }
        }
    }
}
.galary {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 500px;
        margin: 0px auto;
    }
    @media (max-width:510px){
        .galary {
            &__container {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
    
        }
    }
}
.item {
    padding: 0px 10px;
    &__img {
        padding: 0px 0px 20px 0px;
        margin: 0px auto;
        img{
            width: 200px;
            height: 270px;
        }
    }

    &__name {
        padding: 0px 0px 20px 0px;
    }

    &__text {
        max-width: 200px;
        margin: 0px auto;
    }
    
}
@media (max-width:677px){
    .item{
        &__img{
            img{
                width: 120px;
                height: 170px;
            }
        }
    }
}

@media (max-width:530px){
    .item{
        padding: 0px 0px 50px 0px;
    }
}

.teacher {
    text-align: center;
    padding: 70px 0px 0px 0px;
    background-color: rgb(197, 197, 197);
    &__emoji{
        padding: 30px 0px 0px 0px;
        text-align: center;
        font-size: 22px;
    }
    &__container {
        max-width: 800px;
        margin: 0px auto;
    }

    &__name {
        padding: 10px 0px 50px 0px;
        h2{
            font-size: 25px;

        }
    }

    &__foto {
        img{
            width: 390px;
            height: 600px;
        }
    }

    &__info {
        padding: 30px 0px 50px 0px;
        p{
            font-size: 19px;

        }
    }
}
@media (max-width: 429px){
    .teacher {
        &__foto {
            img{
                width: 300px;
                height: 440px;
            }
        }
    }
}
